@model NewsApp.Models.NewsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<partial name="_NewsData" />

<div>
    @Html.ActionLink("Edit", "Edit" , new { id = Model.Id }, new { @class = "nav-link text-black", @style="display:inline-block;" } ) |
    <a class="nav-link text-black" style="display:inline-block;" asp-action="Index">Back to List</a>
</div>
